$bg:#2c1ac7;
$cc:#fff;

$n-dots:12;
$d-dots:30px;
$d-ring:300px;
$rt:15px;

$ba:360deg/$n-dots;
$bs:0 0 0 0.6*$rt $bg;
$trans-dist:2*$d-dots;

body{
    background-color:$bg;
}

div,:after{
    border-radius:50%;
    position:absolute;
    transform-style:preserve-3d;
}

#ring{
    left:50%;
    top:50%;

    &:after{
        margin:-0.5 * $d-ring;
        width:$d-ring;
        height:$d-ring;
        border:$rt solid $cc;
        box-shadow:$bs;
        content:'';
    }
}

.dot{
    @for $i from 1 to $n-dots + 1{
        &:nth-child(#{$i}){
            transform:rotate($i * $ba) translate($d-ring * 0.5);
            &:after{
                animation-delay:(-$i*2s)/$n-dots;
            }
        }
    }

    &:after{
        width:$d-dots;
        height:$d-dots;
        background-color:$cc;
        border:8px $bg solid;
        margin:-0.5 * $d-dots;
        content:'';
        animation:play 2s linear infinite;
    }
}

@keyframes play{
    0%{
        transform:rotateY(0deg) translate($trans-dist) rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg) translate($trans-dist) rotateY(-360deg);
    }
}