$bg:#222;
$cc:#fff;

$n-dots:12;
$d-dots:30px;
$d-ring:300px;
$rt:15px;

$ba:360deg/$n-dots;

body{
    background-color:$bg;
}

div{
    border-radius:50%;
    position:absolute;
}

#ring{
    left:50%;
    top:50%;

    &:after{
        margin:-0.5 * $d-ring;
        width:$d-ring;
        height:$d-ring;
        border:$rt solid $cc;
        content:'';
        border-radius:50%;
        position:absolute;
    }
}

.dot{
    @for $i from 1 to $n-dots + 1{
        &:nth-child(#{$i}){
            transform:rotate($i * $ba) translate($d-ring * 0.5);
        }
    }

    &:after{
        width:$d-dots;
        height:$d-dots;
        background-color:$cc;
        margin:-0.5 * $d-dots;
        content:'';
        position:absolute;
        border-radius:50%;
    }
}