body {
  background-color: #2c1ac7;
}

div, :after {
  border-radius: 50%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#ring {
  left: 50%;
  top: 50%;
}

#ring:after {
  margin: -150px;
  width: 300px;
  height: 300px;
  border: 15px solid #fff;
  -webkit-box-shadow: 0 0 0 9px #2c1ac7;
          box-shadow: 0 0 0 9px #2c1ac7;
  content: '';
}

.dot:nth-child(1) {
  -webkit-transform: rotate(30deg) translate(150px);
          transform: rotate(30deg) translate(150px);
}

.dot:nth-child(1):after {
  -webkit-animation-delay: -0.16667s;
          animation-delay: -0.16667s;
}

.dot:nth-child(2) {
  -webkit-transform: rotate(60deg) translate(150px);
          transform: rotate(60deg) translate(150px);
}

.dot:nth-child(2):after {
  -webkit-animation-delay: -0.33333s;
          animation-delay: -0.33333s;
}

.dot:nth-child(3) {
  -webkit-transform: rotate(90deg) translate(150px);
          transform: rotate(90deg) translate(150px);
}

.dot:nth-child(3):after {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.dot:nth-child(4) {
  -webkit-transform: rotate(120deg) translate(150px);
          transform: rotate(120deg) translate(150px);
}

.dot:nth-child(4):after {
  -webkit-animation-delay: -0.66667s;
          animation-delay: -0.66667s;
}

.dot:nth-child(5) {
  -webkit-transform: rotate(150deg) translate(150px);
          transform: rotate(150deg) translate(150px);
}

.dot:nth-child(5):after {
  -webkit-animation-delay: -0.83333s;
          animation-delay: -0.83333s;
}

.dot:nth-child(6) {
  -webkit-transform: rotate(180deg) translate(150px);
          transform: rotate(180deg) translate(150px);
}

.dot:nth-child(6):after {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.dot:nth-child(7) {
  -webkit-transform: rotate(210deg) translate(150px);
          transform: rotate(210deg) translate(150px);
}

.dot:nth-child(7):after {
  -webkit-animation-delay: -1.16667s;
          animation-delay: -1.16667s;
}

.dot:nth-child(8) {
  -webkit-transform: rotate(240deg) translate(150px);
          transform: rotate(240deg) translate(150px);
}

.dot:nth-child(8):after {
  -webkit-animation-delay: -1.33333s;
          animation-delay: -1.33333s;
}

.dot:nth-child(9) {
  -webkit-transform: rotate(270deg) translate(150px);
          transform: rotate(270deg) translate(150px);
}

.dot:nth-child(9):after {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.dot:nth-child(10) {
  -webkit-transform: rotate(300deg) translate(150px);
          transform: rotate(300deg) translate(150px);
}

.dot:nth-child(10):after {
  -webkit-animation-delay: -1.66667s;
          animation-delay: -1.66667s;
}

.dot:nth-child(11) {
  -webkit-transform: rotate(330deg) translate(150px);
          transform: rotate(330deg) translate(150px);
}

.dot:nth-child(11):after {
  -webkit-animation-delay: -1.83333s;
          animation-delay: -1.83333s;
}

.dot:nth-child(12) {
  -webkit-transform: rotate(360deg) translate(150px);
          transform: rotate(360deg) translate(150px);
}

.dot:nth-child(12):after {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.dot:after {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 8px #2c1ac7 solid;
  margin: -15px;
  content: '';
  -webkit-animation: play 2s linear infinite;
          animation: play 2s linear infinite;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotateY(0deg) translate(60px) rotateY(0deg);
            transform: rotateY(0deg) translate(60px) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) translate(60px) rotateY(-360deg);
            transform: rotateY(360deg) translate(60px) rotateY(-360deg);
  }
}

@keyframes play {
  0% {
    -webkit-transform: rotateY(0deg) translate(60px) rotateY(0deg);
            transform: rotateY(0deg) translate(60px) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) translate(60px) rotateY(-360deg);
            transform: rotateY(360deg) translate(60px) rotateY(-360deg);
  }
}
/*# sourceMappingURL=beesandbomb.css.map */